# Kodutöö 1
- Jupyter Notebooki kasutamine
- Pakett Pandas tutvustus
- Kuidas andmeid kätte saada

## Jupyter notebook
Jupyter notebookis (erinevalt varasematest rakendustest nagu IDLE ja Thonny) saame jooksutada mitut koodi järjest ning jätta meelde vanad muutujad.


See tuleb kasuks siis, kui meie kood võtab palju aega või on lihtsalt mitmest etapist koosnev.

In [1]:
# Näide 1

a = "Mari"

a #Viimasel real olev muutuja prinditakse automaatselt välja ka ilma print käsuta

'Mari'

In [2]:
print("Tere,",a) #Paneme tähele, et muutuja a on meil defineeritud eelnevas koodiblokis

Tere, Mari

## Andmete kättesaamine Pandasega

In [4]:
import pandas as pd  #impordime mooduli

andmed = pd.read_csv("abalone.csv") #laeme alla andmed csv-st, mille nimi on abalone
andmed

    Gender  Length  Diameter  Height  Weight  Rings
0        F   0.505     0.385   0.135  0.6185     12
1        F   0.650     0.475   0.165  1.3875      9
2        I   0.520     0.380   0.135  0.5395      8
3        F   0.550     0.425   0.140  0.9520      7
4        M   0.640     0.525   0.180  1.3135     10
..     ...     ...       ...     ...     ...    ...
995      I   0.550     0.415   0.135  0.8095     12
996      I   0.455     0.435   0.110  0.4265      8
997      M   0.660     0.500   0.165  1.3195      9
998      I   0.525     0.400   0.130  0.6455      8
999      M   0.515     0.395   0.135  1.0070      8

[1000 rows x 6 columns]

Järgmiseks tutvume põhiliste pandas paketi käskudega. Selle jaoks on meil abiks järgmised lehed:
https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf
https://s3.amazonaws.com/assets.datacamp.com/blog_assets/PandasPythonForDataScience.pdf

Uurime käesolevat andmestiku. Alustame kõige olulisemast:
1) Prindime välja päiste (columns) nimed
2) Vaatame, mitu rida meil on andmestikus

In [5]:
# ÜLESANNE: prindi välja for-tsükliga columnite nimed
for rida in andmed:
    print(rida)

Gender
Length
Diameter
Height
Weight
Rings

In [27]:
# ÜLESANNE: kirjuta kood, mis prindib välja andmetabeli ridade arvu
print(andmed.shape[0])

1000

In [32]:
#Prindi välja 6 esimest rida. Milline on nende kuue esimese rea kirjete maksimaalne ringi diameeter?
#(suurimat diameetrit võid vaadata silmaga ja kirjutada alla kommentaarina)

print(andmed[0:6])
#Suurim diameeter on 0.525 lol

  Gender  Length  Diameter  Height  Weight  Rings
0      F   0.505     0.385   0.135  0.6185     12
1      F   0.650     0.475   0.165  1.3875      9
2      I   0.520     0.380   0.135  0.5395      8
3      F   0.550     0.425   0.140  0.9520      7
4      M   0.640     0.525   0.180  1.3135     10
5      I   0.520     0.380   0.125  0.5545      8

In [54]:
#Prindi välja 2 viimast rida andmestikus.
print(andmed[-2::])

    Gender  Length  Diameter  Height  Weight  Rings
998      I   0.525     0.400   0.130  0.6455      8
999      M   0.515     0.395   0.135  1.0070      8

In [65]:
# Mis on jõekarbi pikkus, mis asub real 388?
andmed.iloc[[388],[1]]

     Length
388    0.64

In [66]:
#Mis on karbi keskmine ringide arv (kasuta käsku describe())
andmed.describe()

            Length     Diameter       Height       Weight        Rings
count  1000.000000  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.522760     0.405955     0.141100     0.825541    11.318000
std       0.120064     0.098832     0.057064     0.490380    47.227697
min       0.075000     0.055000     0.000000     0.002000     1.000000
25%       0.450000     0.345000     0.115000     0.438875     8.000000
50%       0.545000     0.420000     0.145000     0.801000     9.000000
75%       0.615000     0.480000     0.165000     1.146250    11.000000
max       0.815000     0.650000     1.130000     2.555000  1500.000000

In [81]:
# Koosta alamandmestik, kus gender = "F" ja Diameter >=0.4. 
#Mitu sellist rida said? 
#Mis on nende karpide keskmine pikkus?
andmed[andmed.Gender=="F"]
andmed[andmed.Diameter>=0.4]

    Gender  Length  Diameter  Height  Weight  Rings
1        F   0.650     0.475   0.165  1.3875      9
3        F   0.550     0.425   0.140  0.9520      7
4        M   0.640     0.525   0.180  1.3135     10
10       F   0.585     0.455   0.130  0.8755      8
13       M   0.635     0.515   0.170  1.2750     16
..     ...     ...       ...     ...     ...    ...
993      M   0.585     0.455   0.150  0.9870     11
995      I   0.550     0.415   0.135  0.8095     12
996      I   0.455     0.435   0.110  0.4265      8
997      M   0.660     0.500   0.165  1.3195      9
998      I   0.525     0.400   0.130  0.6455      8

[595 rows x 6 columns]

In [ ]:
# Mis on minimaalne pikkus, kui ringide arv on 18?

In [ ]:
#Prindi välja keskmine karpide kaal, mille ringide arv on võrdne kaheksaga. 


#Prindi välja keskmine karpide kaal IGA ringi puhul (kasuta for-tsüklit)
#väljaprint peab olema ringide arvu järgi kasvav (alguses need karbid, mille ringidearv on 1, siis 2 jne)

In [ ]:
#Vaata väljaprinti - kas karpide kaal sõltub ringide arvust?
#Vastus:....

In [ ]:
#LISAÜLESANNE: Tee graafik, kus x-teljel on karbi ringide arv ja y-teljel vastav keskmine kaal.